.page {
    font: 10px / 1.2 Arial;
}
.header {
    background: linear-gradient(180deg, #0C4C7B -100%, #1E2F40 100%);
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
}
.banner {
    display: flex;
    justify-content: space-between;
}
.banner__intro {
    max-width: 800px;
    box-sizing: border-box;
    padding: 0 1rem;
}
.banner__title {
    font-size: 8rem;
    font-weight: 900;
    text-transform: uppercase;
    color: white;
}
.banner__text {
    font-size: 1.5rem;   
    color: white;
}
.banner__title--span {
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #FBB731;
}
.banner__button {
    margin: 3rem 0 6rem 0;
}
.button {
    padding: 1.2rem 2rem;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    background-color: #FBB731;
    border: none;
    border-radius: 5px;
}
.button:hover {
    
}
.banner__visual {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: flex-end;
}
.banner__img {
    width: 750px;
    position: absolute;
    top: 30px;
    right: -150px;
}
.banner__visual-bg {
    background: linear-gradient(2.42deg, #F37335 -19.6%, #FBB731 100.79%, #FDC830 100.79%);
    height: 100%;
    width: 400px;
}







.footer {
    background: linear-gradient(180deg, #0C4C7B -100%, #1E2F40 100%);
}