
.banner,
.footer {
    background: linear-gradient(180deg, #0C4C7B -100%, #1E2F40 100%);
}
.container {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}
.container--big {
    max-width: 1200px;
}
.banner__intro {
    flex: 0 0 600px;
}
.banner__title {
    font-size: 12rem;
    font-weight: 900;
    text-transform: uppercase;
    color: white;
}
.banner__text {
    font-size: 2rem;   
    color: white;
}
.banner__title--span {
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #FBB731;
}
.banner__visual {
    flex-grow: 1;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: flex-end;
}
.banner__visual-bg {
    background-color: #FBB731;
    height: 100%;
    width: 300px;
}
.banner__img {
    width: 100%;
}